[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[dev-packages]

[packages]
python-jenkins = "*"
jupyter = "*"
requests = "*"
aiohttp = "*"
tabulate = "*"
datadog = "*"
pandas = "*"
matplotlib = "*"
click = "*"
